body {
    background-color: aliceblue;
    margin: 0;
    padding:10px;
}

h1, h2 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:  2px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;



}

.nav-menu-horizontal {
    overflow: hidden;
    background-color:rgb(10, 43, 32);
    position: relative;
    top: 0;
    width: 100%;
}

.nav-menu-horizontal a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav-menu-horizontal a:hover {
    background: #ddd;
    color: rgb(161, 186, 69);
  }
  
.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
}

.food-img{
    border: 1px solid lightgrey;
    border-radius: 25px;
    margin: 5px;
    

}



.thumbnail-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px outset rgb(99, 99, 99);
    border-radius: 10px;
    background-color: rgb(129, 133, 133);
    margin: 10px;
    padding: 0 15px;
}

.food-img {
    border: 2px solid rgb(136, 136, 136);
    border-radius: 25px;
    padding: 15px;
    margin: 2px;
    background-color: #afaeae;
}

figure {
    padding: 10px;
    margin: 5px;
}

figcaption {
    font-style: italic;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}